html {
  font-size: 62.5%;
}

body {
  font-family: 'Montserrat', sans-serif;
  // font-size: 1.4rem;
}

// Section
section {
  padding: 5rem 0rem;

  @include respond(phone) {
    border: none;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
