#projects {
  background-color: $white-color;
  color: $dark-blue-text;
  margin-top: -15rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;
    padding: 0 12rem;

    @include respond(tab-port) {
      margin-bottom: 0rem;
      padding: 0;
    }

    .row {
      margin-bottom: 8rem;

      @include respond(tab-land) {
        margin-bottom: 6rem;
      }

      @include respond(phone) {
        margin-bottom: 4rem;
      }
    }

    &__text {
      text-align: left;

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;
        color: $primary-color;

        &:hover {
          color: $secondary-color;
          text-decoration: underline;
        }

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      margin: 0 auto 4rem;

      @include respond(tab-land) {
        width: 100%;
        margin: 0 auto 2rem;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
        }
      }
    }

    &__btn {
      text-align: center;
    }
  }
}
